/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

video {
  z-index: -1;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.text {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 30px;
}

.text h1 {
    font-size: 40px;
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}